* {
    box-sizing: border-box;
    margin: 0;
}
body {
    margin: 0;
}
html {
    font-size: 4vw;
    background-color: #f4f4f4;
    h1 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.2rem;
        margin: 0;
        white-space: nowrap;
    }
    p {
        font-size: 1rem;
    }
    i {
        font-size: 1.2rem;
        cursor: pointer;
        color: #69bcef;
    }
}

@media (min-width: 767px) {
    html {
        font-size: 2vw;
    }
}
