#popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba($color: #000000, $alpha: .7);
    .wrapper{
        position: absolute;
        background-color: #fff;
        width: 90%;
        height: 80%;
        left: 50%;
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        border-radius: .5rem;
        -webkit-border-radius: .5rem;
        -moz-border-radius: .5rem;
        -ms-border-radius: .5rem;
        -o-border-radius: .5rem;
        .pop_head{
            position: relative;
            width: 100%;
            i{
                padding: 1rem;
            }
            h1 {
                margin: 0;
                position: absolute;
                left: 50%;
                top: 50%;
                width: 60%;
                text-align: center;
                transform: translate(-50%, -50%);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
            }
        }
    }
}
#popup .add_blk{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    div{
        display: flex;
    }
    .upload{
        text-align: center;
        display: flex;
        flex-direction: column;
        i{
            font-size: 6rem;
        }
        label{
            cursor: pointer;
            border: .2rem solid #ccc ;
        }
        input{
            display: none;
        }
    }
}